<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>login</title>
</head>
<body class="login">
    <h1>INSTACORE</h1>
    <p>share moments, connect with people</p>
    <h2>LOGIN</h2>
    <p>USERNAME</p>
    <input type="text" placeholder="Enter your username">
    <p>PASSWORD</p>
    <input type="password" placeholder="Enter your password">
    <button>SIGN UP</button>

    <p class="signupmsg"></p>
    <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>